click>=8.0.0
confluent-kafka[avro,json,protobuf]>=2.4.0,<=2.15.0
httpx
rich
textual>=1.0.0
textual-dev
pre-commit == 3.7.*
ruff == 0.16.3
mypy == 2.3.*
versioningit>=3.1.2
towncrier == 25.8.*
hypothesis == 6.165.*
