
Screen {
    layout: vertical;
    background: transparent;
}

Tabs {
    height: 3;
    margin-top: 0;
    padding-top: 0;
}


DataTable {
    overflow-x: hidden;
    height: 1fr;
    max-height: 80%;
}
DataTable > .datatable--odd-row {
    background: #131a2c;
}
DataTable > .datatable--even-row {
    background: #0f1525;
}

.datatable--header {
    background: transparent;
    color: $primary;
    text-style: bold;
}

.TabBar {
  width: 1fr;
  color: orange;
  background: #00161C;
}

Topic {
  width: auto;
  background: black;
  color: white;
  padding: 0;
  margin: 0;
  height:1;
}

MyScrollableContainer {
    background: transparent;
}

TopicDetails {
   width: auto;
   height: auto; 
   color: yellow;
}

Topic:focus {
  color: red;
}

TopicList {
    content-align: center middle;
    text-opacity: 60%;
    color: red;

}

TopicPanel {
    layout: horizontal;
}

.box {
    width: 1fr;
    border: round $primary;
    border-subtitle-style: italic;
    border-title-color: $primary;
}

.initial {
    width: 0;
}


.box:focus {
    border: round $accent;
    border-title-style: bold;
    border-title-color: $secondary;
    border-subtitle-style: italic;
    border-subtitle-align: left; 
}

