Screen {
    layout: horizontal;
}
Pretty {
    width: auto;
}

Topic {
  width: auto;
  background: black;
  color: white;
  padding: 0;
  margin: 0;
  height:1;
}

TopicDetails {
   width: auto;
   height: auto; 
   color: yellow;
}

Topic:focus {
  color: red;
}

TopicList {
    content-align: center middle;
    text-opacity: 60%;
    color: red;

}


.box {
    width: 1fr;
    border: round $primary;
    border-subtitle-style: italic;
    border-title-color: $primary;
}

.initial {
    width: 0;
}


.box:focus {
    border: round $accent;
    border-title-style: bold;
    border-title-color: $secondary;
    border-subtitle-style: italic;
    border-subtitle-align: left; 
}

